.booking-section {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 20px auto;
}

.booking-section-1 {
    width: 65%;
}

.booking-section-2 {
    width: 30%;
}
.appointment-schedule{
    border: 1px solid rgb(192, 192, 192);
    font-family: 'roboto';
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 25px 0;
}
.address-section{
    margin: 25px 0;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}
.service-selection-card,
.price-summary-card,
.offers-card,
.order-details-card,
.company-details-section-card,
.FAQ-section-card,.address-section {
    padding: 20px;
    border: 1px solid rgb(192, 192, 192);
    font-family: 'roboto';
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.address-sec-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.at-1{
    font-weight: 500;
    margin-bottom: 0;
}
.at-2{
    font-size: 13px;
}
.add-adderss-btn{
    background-color: transparent;
    border: 2px solid #f37021;
    color: #f37021;
    height: 40px;
    padding: 0 15px;
    border-radius: 15px;
    font-weight:500;
}
.address-section{
    margin-bottom: 30px;

}

.pay-sec-1 {
    width: 100%;
}



.payment-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    font-weight: 500;
    height: 55px;
    width: 100%;
    border: 1px solid #ebebeb;
    margin: 20px 0;
    border-radius: 5px;
}

.pay-later-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: fit-content;
    background-color: #F3702114;
    padding-top: 90px;
    width: 100%;
    border-radius: 14px ;
}

.connector {
    display: flex;
    align-items: center;
}
.emi-text{
    font-size: 12px;
    margin-top: 10px;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin: 0;
    outline: none;
    border: none;
    position: relative;
    &:focus{
        background-color: black;
        width: 15px;
        height: 15px;
    }
}
.emi-sec{
    position: absolute;
    bottom: 30px;
    left: -7px;
    font-size: 13px;
}
.line {
    height: 2px;
    width: 5vw;
    background-color: #c4c4c4;
}
.amount{
    font-weight: 500;
}
.card-form{
    width: 100%;
}
.num-sec{
    width: 100%;
}
.exp-sec{
    display: flex;
    justify-content: space-between;
}
.exp-date,.cvv{
    width: 48%;
}
.name-card{
    width: 100%;
}
.card-num{
    width: 100%;
}
.form-pay{
    background-color: #c4c4c450;
    border: 1px solid #c4c4c4;
    height: 45px;
    padding: 10px 25px;
    margin: 10px 0;
    border-radius: 12px;
    outline: none;
    &:placeholder-shown{
        color: #9a9a9a;
        font-size: 13px;
    }
}

.address{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    position: relative;
    padding: 20px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.address-label{
    background-color: #F3702114;
    height: 30px;
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: #f37021;
    font-weight: 500;
    font-size: 13px;
    border-radius: 10px;
}
.buyer-name{
    margin-bottom: 0;
    font-weight: 500;
    width: 90%;

}
.buyer-address{
    font-size: 13px;
    color: #616161ad;
    margin-bottom: 0;
    width: 90%;
}
.address-action-btn{
    font-size: 14px;
    color: #EB6168;
    margin-right: 10px;
    margin-top: 0;
}
.sec-head {
    display: flex;
    gap: 20px;
}

.mobile-image-section {
    width: 10%;
    object-fit: contain;
}

.mobile-image {
    width: 100%;
}

.mobile-name {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}

.mobile-color {
    font-size: 13px;
    font-weight: 500;
    color: #464646;
}

.sec-body {
    margin-top: 20px;
}

.body-title {
    font-size: 14px;
    font-weight: 500;
    color: #464646;
}

.service-repair-items {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
}

.service-repair-item {
    /* width: 33%; */
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 20px;
}

.service-repair-item-img-sec {
    width: 50px;
    border-radius: 50%;
}

.service-repair-item-img {
    width: 100%;
}

.service-repair-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -5px;
}

.striked-amount {
    font-size: 12px;
    text-decoration: line-through;
}

.actual-amount {
    font-size: 12px;

}

.service-add-btn {
    border: 2px solid #f37021;
    background-color: transparent;
    color: #f37021;
    height: 35px;
    border-radius: 10px;
    width: 85px;
    font-weight: 500;
}

.sec-end {
    padding: 10px;
    background-color: #f3722112;
    margin: 40px 0 0 0;
}

.sec-end-text {
    color: #f37021;
    margin-bottom: 0;
    font-weight: 500;
}

.price-summary-card-header,
.order-detail-card-header {
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.items-price {
    height: 250px;
    overflow-y: auto;
    padding-top: 10px;
}

.item-price-sec,
.care-sec {
    display: flex;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
}

.item-name,
.care-name {
    width: 50%;
    font-weight: 500;
    color: #464646;
}
.care-name{
    color: rgb(97, 97, 97);
}

.item-price {
    width: 50%;
    text-align: right;
}

.care-price {
    width: 50%;
    color: #005cba;
    text-align: right;
    font-weight: 500;
}

.agree-sec {
    font-size: 14px;
    /* display: flex; */
    /* align-items:center; */
}

.agree-sec-label {
    margin-top: 10px;
}

.price-cont-btn {
    width: 100%;
    background-color: #f37021;
    outline: none;
    border: none;
    color: white;
    height: 40px;
    border-radius: 10px;
}

.offers-card,
.order-details-card {
    margin-top: 20px;
}

.offer-section-title {
    font-weight: 500;
    border-bottom: 1px solid rgb(193, 193, 193);
    font-size: 14px;
}

.offers-section {
    height: 15 0px;
    overflow-y: auto;
}

.offer {
    display: flex;
    gap: 5px;
    font-size: 14px;
}

.order-detail-body {
    font-weight: 400;
}

.order-breif {
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.left-detail {
    width: 50%;
    font-size: 14px
}

.right-detail {
    width: 50%;
    font-size: 14px;
}

.date-breif {
    border-top: 1px dashed #D3D3D3;
}

.company-details-section-card {
    margin-top: 30px;
    font-family: poppins;
    padding: 30px;
}

.company-name {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 60px;
}

.company-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.company-detail {
    width: 26%;
    font-size: 13px;
    color: #858585;
}

.FAQ-section-card {
    margin-top: 30px;
    font-family: 'roboto';
    padding: 30px;
}

.FAQ-title {
    font-weight: 500;
    margin-bottom: 30px;
}

.FAQs {
    width: 90%;
}

.FAQ {
    width: 90%;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0;
}

.FAQ-question {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    color: #555555;
    font-family: 'poppins';
}

.FAQ-ans {
    font-family: 'raleway';
    color: #696969;
    font-size: 13px;
}

.policies {
    margin-top: 60px;
}

.policies-title {
    font-weight: 500;
}

.policy {
    font-family: 'raleway';
    color: #696969;
    font-size: 13px;
    font-weight: 400;
}

@media screen and (max-width:992px){
    .booking-section{
        flex-wrap: wrap;
    }
    .booking-section-1 {
        width: 100%;
    }
    .booking-section-2{
        width: 100%;
    }
}
@media screen and (max-width:707px){
.FAQ{
    width: 100%;
}
.company-details{
    flex-wrap: wrap;
}
.company-detail{
    width: 100%;
}
}
